/* utils */
white(a)
  rgba(255, 255, 255, a)

black(a)
  rgba(0, 0, 0, a)

rainbow-light = linear-gradient(to right, oklch(0.80 0.10 0), oklch(0.80 0.10 30), oklch(0.80 0.10 60), oklch(0.80 0.10 90), oklch(0.80 0.10 120), oklch(0.80 0.10 150), oklch(0.80 0.10 180), oklch(0.80 0.10 210), oklch(0.80 0.10 240), oklch(0.80 0.10 270), oklch(0.80 0.10 300), oklch(0.80 0.10 330), oklch(0.80 0.10 360))
rainbow-dark = linear-gradient(to right, oklch(0.70 0.10 0), oklch(0.70 0.10 30), oklch(0.70 0.10 60), oklch(0.70 0.10 90), oklch(0.70 0.10 120), oklch(0.70 0.10 150), oklch(0.70 0.10 180), oklch(0.70 0.10 210), oklch(0.70 0.10 240), oklch(0.70 0.10 270), oklch(0.70 0.10 300), oklch(0.70 0.10 330), oklch(0.70 0.10 360))

:root
  --radius-large 20px
  --content-delay 150ms

/* An util to define variables that vary with light and dark mode */
define(vars)
  :root
    for key, value in vars
      {key}: value[0]
  :root.dark
    for key, value in vars
      if length(value) > 1
        {key}: value[1]

define({
  --primary: oklch(0.65 0.18 260) oklch(0.65 0.18 260) // #7aa2f7 (Tokyonight Blue)
  --page-bg: #e1e2e7 #1a1b26 // Tokyonight Night BG
  --card-bg: rgba(255, 255, 255, 0.75) rgba(36, 40, 59, 0.75) // Tokyonight Storm BG (Translucent)
  --card-bg-transparent: rgba(255, 255, 255, 0.6) rgba(36, 40, 59, 0.6)

  --btn-content: #373b41 #c0caf5
  
  --btn-regular-bg: rgba(240, 240, 240, 0.8) rgba(65, 72, 104, 0.8)
  --btn-regular-bg-hover: rgba(224, 224, 224, 0.8) rgba(86, 95, 137, 0.8)
  --btn-regular-bg-active: rgba(208, 208, 208, 0.8) rgba(36, 40, 59, 0.8)

  --btn-plain-bg-hover: rgba(240, 240, 240, 0.8) rgba(65, 72, 104, 0.8)
  --btn-plain-bg-active: rgba(224, 224, 224, 0.8) rgba(36, 40, 59, 0.8)

  --btn-card-bg-hover: rgba(248, 248, 248, 0.8) rgba(65, 72, 104, 0.8)
  --btn-card-bg-active: rgba(240, 240, 240, 0.8) rgba(36, 40, 59, 0.8)

  --enter-btn-bg: var(--btn-regular-bg)
  --enter-btn-bg-hover: var(--btn-regular-bg-hover)
  --enter-btn-bg-active: var(--btn-regular-bg-active)

  --deep-text: #1a1b26 #a9b1d6

  --title-active: #7aa2f7 #7aa2f7

  --line-divider: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1)

  --line-color: rgba(0, 0, 0, 0.1) rgba(255, 255, 255, 0.1)
  --meta-divider: rgba(0, 0, 0, 0.2) rgba(255, 255, 255, 0.2)
  --content-meta: rgba(0, 0, 0, 0.6) #565f89

  --inline-code-bg: rgba(224, 224, 224, 0.8) rgba(65, 72, 104, 0.8)
  --inline-code-color: #7aa2f7 #7dcfff
  --selection-bg: #c0caf5 #515c7e
  --codeblock-selection: #515c7e
  --codeblock-bg: rgba(240, 240, 240, 0.8) rgba(36, 40, 59, 0.8)
  --codeblock-topbar-bg: rgba(224, 224, 224, 0.8) rgba(31, 35, 53, 0.8)

  --license-block-bg: rgba(0, 0, 0, 0.03) rgba(0, 0, 0, 0.2)

  --link-underline: #7aa2f7 #7aa2f7
  --link-hover: #7aa2f7 #7aa2f7
  --link-active: #bb9af7 #bb9af7

  --float-panel-bg: rgba(255, 255, 255, 0.8) rgba(31, 35, 53, 0.8)

  --scrollbar-bg-light: rgba(0, 0, 0, 0.4)
  --scrollbar-bg-hover-light: rgba(0, 0, 0, 0.5)
  --scrollbar-bg-active-light: rgba(0, 0, 0, 0.6)

  --scrollbar-bg-dark: rgba(255, 255, 255, 0.4)
  --scrollbar-bg-hover-dark: rgba(255, 255, 255, 0.5)
  --scrollbar-bg-active-dark: rgba(255, 255, 255, 0.6)

  --scrollbar-bg: var(--scrollbar-bg-light) var(--scrollbar-bg-dark)
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light) var(--scrollbar-bg-hover-dark)
  --scrollbar-bg-active: var(--scrollbar-bg-active-light) var(--scrollbar-bg-active-dark)

  --color-selection-bar: rainbow-light rainbow-dark

  --display-light-icon: 1 0
  --display-dark-icon: 0 1

  --admonitions-color-tip: #7aa2f7 #7aa2f7
  --admonitions-color-note: #7dcfff #7dcfff
  --admonitions-color-important: #bb9af7 #bb9af7
  --admonitions-color-warning: #e0af68 #e0af68
  --admonitions-color-caution: #f7768e #f7768e

  --toc-badge-bg: rgba(224, 224, 224, 0.8) rgba(65, 72, 104, 0.8)
  --toc-btn-hover: rgba(208, 208, 208, 0.8) rgba(86, 95, 137, 0.8)
  --toc-btn-active: rgba(192, 192, 192, 0.8) rgba(65, 72, 104, 0.8)
  --toc-width: calc((100vw - var(--page-width)) / 2 - 1rem)
  --toc-item-active: #7aa2f7 #7aa2f7
})

