---

import { siteConfig } from "../config";
---

<!-- Global config carrier -->
<div id="config-carrier" data-hue={siteConfig.themeColor.hue}>
</div>

<!-- Import Umami Share utility script -->
<script is:inline src="/js/umami-share.js"></script>